In [2]:
# Import packages
import pandas as pd
# import seaborn as sns
# import hvplot.pandas
# import pandas_profiling
%matplotlib notebook

# Load dataset

In [3]:
# Origin of file
path_file = '../data/preprocessed/details_houses_2019-07-04.csv'

# Read csv file
df = pd.read_csv(path_file)

# Look at my dataset
- How many rows are in my dataset?
- How many columns are in my dataset?
- What data types are in the columns?
- are there missing values in the dataset? Do we infer missing values? how?
- are there outlier values? 

Data types:
- Numeric:
    - discrete
    - continious
- Categoric
    - cardinal
    - ordinal
- Unstructured
    - text

In [6]:
df.dtypes

acepta_permuta         float64
agency                  object
altura_permitida       float64
ambientes              float64
ambientes_extra           bool
ano_de_construccion    float64
aptos_por_piso         float64
banos                  float64
banos_extra               bool
cantidad_de_pisos      float64
casco                  float64
description             object
direccion               object
disposicion             object
distancia_al_mar       float64
dormitorios            float64
dormitorios_extra         bool
estado                  object
extra                   object
financia               float64
garajes                float64
garajes_extra             bool
gastos_comunes         float64
gastos_comunes_cur     float64
hectareas              float64
huespedes              float64
index                    int64
kind                    object
longitud_frente        float64
m2_de_la_terraza       float64
m2_del_terreno         float64
m2_edificados          float64
oficina                float64
penthouse              float64
piso                   float64
plantas                float64
plantas_cur            float64
plantas_extra             bool
price                  float64
referencia              object
sobre                   object
tipo_propiedad          object
title                   object
uri                     object
vista_al_mar           float64
vivienda_social        float64
zona                    object
dtype: object

In [5]:
df.describe()

,acepta_permuta,altura_permitida,ambientes,ano_de_construccion,aptos_por_piso,banos,cantidad_de_pisos,casco,distancia_al_mar,dormitorios,...,m2_del_terreno,m2_edificados,oficina,penthouse,piso,plantas,plantas_cur,price,vista_al_mar,vivienda_social
count,868.0,303.000000,2833.000000,15740.000000,6224.000000,23705.000000,6370.000000,21.0,5036.000000,21750.000000,...,7911.000000,22946.000000,3120.0,408.0,9.143000e+03,18271.000000,0.0,2.485500e+04,1433.0,1912.0
mean,1.0,21.346535,2.259442,1989.151525,5.503856,1.663489,8.556829,1.0,421.604448,2.304322,...,240.386497,120.947593,1.0,1.0,1.232312e+03,1.316950,NaN,3.067337e+05,1.0,1.0
std,0.0,94.216157,1.651945,87.062677,101.481051,0.781220,26.925786,0.0,352.071311,1.218255,...,234.941235,120.590799,0.0,0.0,1.162061e+05,0.620377,NaN,3.803258e+05,0.0,0.0
min,1.0,1.000000,1.000000,1060.000000,1.000000,1.000000,1.000000,1.0,0.000000,0.000000,...,-61.000000,1.000000,1.0,1.0,0.000000e+00,1.000000,NaN,1.000000e+00,1.0,1.0
25%,1.0,9.000000,1.000000,1963.000000,2.000000,1.000000,4.000000,1.0,100.000000,2.000000,...,64.000000,53.000000,1.0,1.0,1.000000e+00,1.000000,NaN,1.300000e+05,1.0,1.0
50%,1.0,13.000000,2.000000,1998.000000,3.000000,1.000000,10.000000,1.0,300.000000,2.000000,...,150.000000,77.000000,1.0,1.0,3.000000e+00,1.000000,NaN,1.880000e+05,1.0,1.0
75%,1.0,23.000000,3.000000,2017.000000,5.000000,2.000000,10.000000,1.0,500.000000,3.000000,...,361.000000,140.000000,1.0,1.0,6.000000e+00,1.000000,NaN,3.400000e+05,1.0,1.0
max,1.0,1650.000000,6.000000,9999.000000,8000.000000,3.000000,2101.000000,1.0,1000.000000,5.000000,...,999.000000,999.000000,1.0,1.0,1.111111e+07,3.000000,NaN,1.200000e+07,1.0,1.0

In [8]:
df.isnull().any()

acepta_permuta          True
agency                  True
altura_permitida        True
ambientes               True
ambientes_extra        False
ano_de_construccion     True
aptos_por_piso          True
banos                   True
banos_extra            False
cantidad_de_pisos       True
casco                   True
description             True
direccion               True
disposicion             True
distancia_al_mar        True
dormitorios             True
dormitorios_extra      False
estado                  True
extra                   True
financia                True
garajes                 True
garajes_extra          False
gastos_comunes          True
gastos_comunes_cur      True
hectareas               True
huespedes               True
index                  False
kind                    True
longitud_frente         True
m2_de_la_terraza        True
m2_del_terreno          True
m2_edificados           True
oficina                 True
penthouse               True
piso                    True
plantas                 True
plantas_cur             True
plantas_extra          False
price                   True
referencia              True
sobre                   True
tipo_propiedad          True
title                   True
uri                    False
vista_al_mar            True
vivienda_social         True
zona                    True
dtype: bool

# What are some questions that I can answer with this dataset?
Understand your dataset is the fist step of any datascience project. You need to know the limitations and make a list of posible question that could be answering with this dataset. These question can reduce, expande or modify the spoce of your project.

examples: 
- We could have great ideas but poor data
- We could have incorect question for our dataset
- We could have a rich dataset ....

**Data**: We have a set of features of house for sale in a specific time windows.  
**Questions**:
- Could we predict the price of a house with the this set of features?
- Could we improve the price prediction using NLP thechnique on text description?

# Prepare Dataset
- Select relevant features
- Missing values imputetion
- Split dataset in Train and test