In [ ]:
# FIXME los metros cuadros de terreno no estan bien extraidos con la
# expresion regular, no reconoce los valores mayores a 1000 por el punto

In [164]:
# Import packages
import pandas as pd
import seaborn as sns
import hvplot.pandas
import pandas_profiling
from unidecode import unidecode
%matplotlib notebook

# What are some questions that I can answer with this dataset?
Understand your dataset is the fist step of any datascience project. You need to know the limitations and make a list of posible question that could be answering with this dataset. These question can reduce, expande or modify the spoce of your project.

examples: 
- We could have great ideas but poor data
- We could have incorect question for our dataset
- We could have a rich dataset ....

**Data**: We have a set of features of house for sale in a specific time windows.  
**Questions**:
- Could we predict the price of a house with the this set of features?
- Could we improve the price prediction using NLP thechnique on text description?

# Look at my dataset
- How many rows are in my dataset?
- How many columns are in my dataset?
- What data types are in the columns?
- are there missing values in the dataset? Do we infer missing values? how?
- are there outlier values? 

Data types:
- Numeric:
    - discrete
    - continious
- Categoric
    - cardinal
    - ordinal
- Unstructured
    - text

## Load dataset

In [29]:
path_file = '../data/preprocessed/dataset.csv'

# Read csv file
df = pd.read_csv(path_file)

In [30]:
# Get number of rows and columns
df.shape

(28620, 46)

In [31]:
# Get data types of columns
# df.info()
df.dtypes

acepta_permuta           float64
altura_permitida         float64
ambientes                float64
ambientes_extra          float64
ano_de_construccion      float64
aptos_por_piso           float64
banos                    float64
banos_extra              float64
barrio                    object
cantidad_de_pisos        float64
casco                    float64
descripcion               object
direccion                 object
disposicion               object
distancia_al_mar         float64
dormitorios              float64
dormitorios_extra        float64
estado                    object
extra                     object
financia                 float64
garajes                  float64
garajes_extra            float64
gastos_comunes           float64
gastos_comunes_moneda    float64
hectareas                float64
huespedes                float64
inmobiliaria              object
longitud_frente          float64
m2_de_la_terraza         float64
m2_del_terreno           float64
m2_edificados            float64
oficina                  float64
penthouse                float64
piso                     float64
plantas                  float64
plantas_extra            float64
precio                   float64
precio_moneda            float64
referencia                object
sobre                     object
tipo_de_publicacion       object
tipo_propiedad            object
titulo_publicacion        object
url                       object
vista_al_mar             float64
vivienda_social          float64
dtype: object

In [32]:
# Check if there are missing values in each columns
df.isnull().any()

acepta_permuta            True
altura_permitida          True
ambientes                 True
ambientes_extra           True
ano_de_construccion       True
aptos_por_piso            True
banos                     True
banos_extra               True
barrio                    True
cantidad_de_pisos         True
casco                     True
descripcion               True
direccion                 True
disposicion               True
distancia_al_mar          True
dormitorios               True
dormitorios_extra         True
estado                    True
extra                     True
financia                  True
garajes                   True
garajes_extra             True
gastos_comunes            True
gastos_comunes_moneda     True
hectareas                 True
huespedes                 True
inmobiliaria              True
longitud_frente           True
m2_de_la_terraza          True
m2_del_terreno            True
m2_edificados             True
oficina                   True
penthouse                 True
piso                      True
plantas                   True
plantas_extra             True
precio                    True
precio_moneda             True
referencia                True
sobre                     True
tipo_de_publicacion       True
tipo_propiedad            True
titulo_publicacion        True
url                      False
vista_al_mar              True
vivienda_social           True
dtype: bool

In [33]:
# Get percentage of missing values from each columns
# df.count()
df.notnull().sum()/df.shape[0]*100

acepta_permuta             3.190077
altura_permitida           1.083159
ambientes                 10.062893
ambientes_extra           10.062893
ano_de_construccion       56.310273
aptos_por_piso            22.229210
banos                     87.505241
banos_extra               87.505241
barrio                    91.645702
cantidad_de_pisos         22.753319
casco                      0.073375
descripcion               99.189378
direccion                 32.127883
disposicion               66.226415
distancia_al_mar          18.043326
dormitorios               80.482180
dormitorios_extra         80.482180
estado                    89.112509
extra                     80.702306
financia                  14.940601
garajes                   37.868623
garajes_extra             37.868623
gastos_comunes            42.435360
gastos_comunes_moneda      0.000000
hectareas                  0.192173
huespedes                  0.003494
inmobiliaria              99.496855
longitud_frente            1.310273
m2_de_la_terraza          25.062893
m2_del_terreno            30.709294
m2_edificados             84.741440
oficina                   11.219427
penthouse                  1.474493
piso                      32.742837
plantas                   66.079665
plantas_extra             66.079665
precio                    91.579315
precio_moneda              0.000000
referencia                91.953180
sobre                     28.647799
tipo_de_publicacion       91.970650
tipo_propiedad            91.624738
titulo_publicacion        99.727463
url                      100.000000
vista_al_mar               5.143256
vivienda_social            6.701607
dtype: float64

## Statistic resume
### Numeric variables

In [41]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
acepta_permuta,913.0,1.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.000000e+00
altura_permitida,310.0,2.176452e+01,9.337605e+01,5.0,9.0,13.0,23.5,1.650000e+03
ambientes,2880.0,2.281597e+00,1.670975e+00,1.0,1.0,2.0,3.0,7.000000e+00
ambientes_extra,2880.0,1.048611e-01,3.064276e-01,0.0,0.0,0.0,0.0,1.000000e+00
ano_de_construccion,16116.0,1.988390e+03,5.874762e+01,1060.0,1963.0,1998.0,2017.0,7.880000e+03
aptos_por_piso,6362.0,5.464005e+00,1.003792e+02,1.0,2.0,3.0,5.0,8.000000e+03
banos,25044.0,1.651453e+00,7.794975e-01,1.0,1.0,1.0,2.0,3.000000e+00
banos_extra,25044.0,1.902651e-01,3.925181e-01,0.0,0.0,0.0,0.0,1.000000e+00
cantidad_de_pisos,6512.0,8.502918e+00,2.664836e+01,1.0,4.0,10.0,10.0,2.101000e+03
casco,21.0,1.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.000000e+00
distancia_al_mar,5164.0,4.214756e+02,3.526904e+02,0.0,100.0,300.0,500.0,1.000000e+03
dormitorios,23034.0,2.285187e+00,1.217850e+00,0.0,2.0,2.0,3.0,5.000000e+00
dormitorios_extra,23034.0,4.810280e-02,2.139881e-01,0.0,0.0,0.0,0.0,1.000000e+00
financia,4276.0,1.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.000000e+00
garajes,10838.0,1.684628e+00,4.910456e+00,1.0,1.0,1.0,2.0,1.270000e+02
garajes_extra,10838.0,9.494372e-02,2.931507e-01,0.0,0.0,0.0,0.0,1.000000e+00
gastos_comunes,12145.0,8.233841e+20,9.074052e+22,0.0,2200.0,4000.0,8800.0,1.000000e+25
gastos_comunes_moneda,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hectareas,55.0,3.145400e+03,1.066731e+04,1.0,3.0,6.0,24.0,5.000000e+04
huespedes,1.0,6.000000e+00,NaN,6.0,6.0,6.0,6.0,6.000000e+00
longitud_frente,375.0,3.999981e+01,9.021367e+01,1.0,10.0,15.0,30.0,8.800000e+02
m2_de_la_terraza,7173.0,2.661574e+01,5.477059e+01,1.0,4.0,10.0,27.0,9.530000e+02
m2_del_terreno,8789.0,2.294105e+02,2.302968e+02,-61.0,60.0,137.0,346.0,9.990000e+02
m2_edificados,24253.0,1.197441e+02,1.194448e+02,1.0,53.0,76.0,140.0,9.990000e+02
oficina,3211.0,1.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.000000e+00
penthouse,422.0,1.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.000000e+00
piso,9371.0,1.202640e+03,1.147837e+05,0.0,1.0,3.0,6.0,1.111111e+07
plantas,18912.0,1.309909e+00,6.139678e-01,1.0,1.0,1.0,1.0,3.000000e+00
plantas_extra,18912.0,8.153553e-02,2.736630e-01,0.0,0.0,0.0,0.0,1.000000e+00
precio,26210.0,3.021489e+05,3.753968e+05,1.0,130000.0,185000.0,335000.0,1.200000e+07
precio_moneda,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vista_al_mar,1472.0,1.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.000000e+00
vivienda_social,1918.0,1.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.000000e+00

### Categeries resume

In [18]:
df.describe(include='O').transpose()

,count,unique,top,freq
barrio,26229,89,Pocitos,4126
descripcion,28388,27148,La zona: 01 del Centro está ubicado en el lími...,19
direccion,9195,7126,Próx. Montevideo Shopping,35
disposicion,18954,4,Al frente,15804
estado,25504,7,Buen estado,10527
extra,23097,14668,Garaje,1000
inmobiliaria,28476,1029,Las Torres,1102
referencia,26317,26312,1081BE,2
sobre,8199,3,Otros,4444
tipo_de_publicacion,26322,1,Venta,26322
tipo_propiedad,26223,12,Apartamentos,17127
titulo_publicacion,28542,22802,Apartamento En Venta 2 Dormitorios,242
url,28620,28588,https://www.infocasas.com.uy/proyectos/horusart,2

# Prepare Dataset
- Exploratory data analysis
- Select relevant features
- Clean and Missing values imputetion
- Split dataset in Train and test

## Select feature for analysis
Check dataset [documentation](https://github.com/creyesp/houses-project/blob/add-binder-configs/data/dataset_description.md) to choice the most interesting feature to answer our questions.

In [204]:
pd.options.display.float_format = '{:.2f}'.format

In [242]:
columns_to_analyze = [
#     'ano_de_construccion', 
    'banos', 'banos_extra',
    'descripcion', 'disposicion', 'distancia_al_mar', 'dormitorios', 'dormitorios_extra',
    'estado', 'extra', 'garajes', 'garajes_extra', 'gastos_comunes',
    'tipo_de_publicacion', 'm2_de_la_terraza', 'm2_del_terreno', 'm2_edificados', 'oficina', 'penthouse',
    'plantas', 'plantas_extra', 'precio', 'sobre', 'tipo_propiedad',
    'vista_al_mar', 'vivienda_social', 'barrio', 
]

In [250]:
df_num = df[columns_to_analyze].select_dtypes(exclude='object')
df_obj = df[columns_to_analyze].select_dtypes(include='object')
print('Numerical columns: {}\n'.format(df_num.columns.tolist()))
print('Caterorial columns: {}'.format(df_obj.columns.tolist()))

Numerical columns: ['banos', 'banos_extra', 'distancia_al_mar', 'dormitorios', 'dormitorios_extra', 'garajes', 'garajes_extra', 'gastos_comunes', 'm2_de_la_terraza', 'm2_del_terreno', 'm2_edificados', 'oficina', 'penthouse', 'plantas', 'plantas_extra', 'precio', 'vista_al_mar', 'vivienda_social']

Caterorial columns: ['descripcion', 'disposicion', 'estado', 'extra', 'tipo_de_publicacion', 'sobre', 'tipo_propiedad', 'barrio']

 ## Feature transformation

In [251]:
df_obj = (df_obj
          .fillna('')
          .apply(lambda x: x.str.lower().apply(lambda y: unidecode(y)))
         )

df_num['cerca_rambla'] = (df_num['distancia_al_mar'] <= 1000) | (df_num['vista_al_mar'] )

# ONEHOT-ENCODING
# df_obj['estado']
# df_obj['barrio']

df_num.drop(columns=['distancia_al_mar', 'vista_al_mar'], inplace=True)

In [252]:
df_num.count()/df_num.shape[0]

banos               0.88
banos_extra         0.88
dormitorios         0.80
dormitorios_extra   0.80
garajes             0.38
garajes_extra       0.38
gastos_comunes      0.42
m2_de_la_terraza    0.25
m2_del_terreno      0.31
m2_edificados       0.85
oficina             0.11
penthouse           0.01
plantas             0.66
plantas_extra       0.66
precio              0.92
vivienda_social     0.07
cerca_rambla        1.00
dtype: float64

## Missing values imputation

In [253]:
fill_zero_col = ['m2_de_la_terraza', 'vivienda_social', 'gastos_comunes', 'garajes',
                 'garajes_extra', 'plantas_extra', 'penthouse', 'oficina']
df_num.loc[:, fill_zero_col] = df_num[fill_zero_col].fillna(0)

df_num['plantas'].fillna(1, inplace=True)

mask_m2_terreno = df_num['m2_del_terreno'].isna()
df_num.loc[mask_m2_terreno, 'm2_del_terreno'] = df_num.loc[mask_m2_terreno, 'm2_edificados']

In [254]:
df_num.quantile([0.01, 0.95]).transpose()

                      0.01      0.95
banos                 1.00      3.00
banos_extra           0.00      1.00
dormitorios           0.00      4.00
dormitorios_extra     0.00      0.00
garajes               0.00      2.00
garajes_extra         0.00      0.00
gastos_comunes        0.00  16000.00
m2_de_la_terraza      0.00     35.00
m2_del_terreno        1.09    516.00
m2_edificados         2.62    357.00
oficina               0.00      1.00
penthouse             0.00      0.00
plantas               1.00      3.00
plantas_extra         0.00      1.00
precio            43545.00 881145.00
vivienda_social       0.00      1.00
cerca_rambla          0.00      1.00

In [295]:
mask = (
    df_obj['tipo_propiedad'].isin(['apartamentos', 'casas'])
    & (df_num['oficina'] != 1)
#     & (df_num['penthouse'] != 1) 
    & (df_num['banos'].between(1, 3))
    & (df_num['dormitorios'].between(0, 5))
    & (df_num['garajes'].between(0, 5))
    & (df_num['m2_de_la_terraza'] >= 0)
#     & (df_num['m2_del_terreno'] >= 10)
    & (df_num['m2_edificados'] >= 10)
    & (df_num['gastos_comunes'].between(0, 50000))
#     & (df_num['cantidad_de_pisos'].between(1, 30))
#     & (df_num['ano_de_construccion'].between(1880, 2019))
#     & (df_num['aptos_por_piso'].between(1, 20))

)
mask.sum()

19001

# Why Feature Selection?
- Overfitting
- Occam’s Razor: "Entities should not be multiplied without necessity."  William of Ockham
- Garbage In Garbage out: Most of the times, we will have many non-informative features.

Type of Feature Selection:

- Filter based: We specify some metric and based on that filter features. An example of such a metric could be correlation/chi-square.
- Wrapper-based: Wrapper methods consider the selection of a set of features as a search problem. Example: Recursive Feature Elimination
- Embedded: Embedded methods use algorithms that have built-in feature selection methods. For instance, Lasso and RF have their own feature selection methods.