In [1]:
# Import packages
import pandas as pd
# import seaborn as sns
# import hvplot.pandas
# import pandas_profiling
%matplotlib notebook

# Load dataset

In [2]:
# Origin of file
path_file = '../data/preprocessed/details_home_for_sale_dataset_2019-07-25.csv'

# Read csv file
df = pd.read_csv(path_file)

# Look at my dataset
- How many rows are in my dataset?
- How many columns are in my dataset?
- What data types are in the columns?
- are there missing values in the dataset? Do we infer missing values? how?
- are there outlier values? 

Data types:
- Numeric:
    - discrete
    - continious
- Categoric
    - cardinal
    - ordinal
- Unstructured
    - text

In [3]:
df.dtypes

acepta_permuta         float64
agency                  object
altura_permitida       float64
ambientes              float64
ambientes_extra           bool
ano_de_construccion    float64
aptos_por_piso         float64
banos                  float64
banos_extra               bool
cantidad_de_pisos      float64
casco                  float64
description             object
direccion               object
disposicion             object
distancia_al_mar       float64
dormitorios            float64
dormitorios_extra         bool
estado                  object
extra                   object
financia               float64
garajes                float64
garajes_extra             bool
gastos_comunes         float64
gastos_comunes_cur     float64
hectareas              float64
huespedes              float64
kind                    object
longitud_frente        float64
m2_de_la_terraza       float64
m2_del_terreno         float64
m2_edificados          float64
oficina                float64
penthouse              float64
piso                   float64
plantas                float64
plantas_extra             bool
price                  float64
price_cur              float64
referencia              object
sobre                   object
tipo_propiedad          object
title                   object
url                     object
vista_al_mar           float64
vivienda_social        float64
zona                    object
dtype: object

In [4]:
df.describe()

,acepta_permuta,altura_permitida,ambientes,ano_de_construccion,aptos_por_piso,banos,cantidad_de_pisos,casco,distancia_al_mar,dormitorios,...,m2_del_terreno,m2_edificados,oficina,penthouse,piso,plantas,price,price_cur,vista_al_mar,vivienda_social
count,913.0,310.000000,2880.000000,16116.000000,6362.000000,25044.000000,6512.000000,21.0,5164.00000,23034.000000,...,8789.000000,24253.000000,3211.0,422.0,9.371000e+03,18912.000000,2.621000e+04,0.0,1472.0,1918.0
mean,1.0,21.764516,2.281597,1988.389737,5.464005,1.651453,8.502918,1.0,421.47560,2.285187,...,229.410500,119.744134,1.0,1.0,1.202640e+03,1.309909,3.021489e+05,NaN,1.0,1.0
std,0.0,93.376050,1.670975,58.747619,100.379170,0.779498,26.648361,0.0,352.69043,1.217850,...,230.296813,119.444842,0.0,0.0,1.147837e+05,0.613968,3.753968e+05,NaN,0.0,0.0
min,1.0,5.000000,1.000000,1060.000000,1.000000,1.000000,1.000000,1.0,0.00000,0.000000,...,-61.000000,1.000000,1.0,1.0,0.000000e+00,1.000000,1.000000e+00,NaN,1.0,1.0
25%,1.0,9.000000,1.000000,1963.000000,2.000000,1.000000,4.000000,1.0,100.00000,2.000000,...,60.000000,53.000000,1.0,1.0,1.000000e+00,1.000000,1.300000e+05,NaN,1.0,1.0
50%,1.0,13.000000,2.000000,1998.000000,3.000000,1.000000,10.000000,1.0,300.00000,2.000000,...,137.000000,76.000000,1.0,1.0,3.000000e+00,1.000000,1.850000e+05,NaN,1.0,1.0
75%,1.0,23.500000,3.000000,2017.000000,5.000000,2.000000,10.000000,1.0,500.00000,3.000000,...,346.000000,140.000000,1.0,1.0,6.000000e+00,1.000000,3.350000e+05,NaN,1.0,1.0
max,1.0,1650.000000,7.000000,7880.000000,8000.000000,3.000000,2101.000000,1.0,1000.00000,5.000000,...,999.000000,999.000000,1.0,1.0,1.111111e+07,3.000000,1.200000e+07,NaN,1.0,1.0

In [5]:
df.isnull().any()

acepta_permuta          True
agency                  True
altura_permitida        True
ambientes               True
ambientes_extra        False
ano_de_construccion     True
aptos_por_piso          True
banos                   True
banos_extra            False
cantidad_de_pisos       True
casco                   True
description             True
direccion               True
disposicion             True
distancia_al_mar        True
dormitorios             True
dormitorios_extra      False
estado                  True
extra                   True
financia                True
garajes                 True
garajes_extra          False
gastos_comunes          True
gastos_comunes_cur      True
hectareas               True
huespedes               True
kind                    True
longitud_frente         True
m2_de_la_terraza        True
m2_del_terreno          True
m2_edificados           True
oficina                 True
penthouse               True
piso                    True
plantas                 True
plantas_extra          False
price                   True
price_cur               True
referencia              True
sobre                   True
tipo_propiedad          True
title                   True
url                    False
vista_al_mar            True
vivienda_social         True
zona                    True
dtype: bool

# What are some questions that I can answer with this dataset?
Understand your dataset is the fist step of any datascience project. You need to know the limitations and make a list of posible question that could be answering with this dataset. These question can reduce, expande or modify the spoce of your project.

examples: 
- We could have great ideas but poor data
- We could have incorect question for our dataset
- We could have a rich dataset ....

**Data**: We have a set of features of house for sale in a specific time windows.  
**Questions**:
- Could we predict the price of a house with the this set of features?
- Could we improve the price prediction using NLP thechnique on text description?

# Prepare Dataset
- Select relevant features
- Missing values imputetion
- Split dataset in Train and test